<div class="header">
			<h1>Rubik's Cube App</h1>
			<div class="nav"> <a href="/">home</a> <a href="/pages/about">about</a> <a href="/pages/links">links</a> <a href="/pages/info">info</a> <a href="/pages/contact">contact</a> </div>
		</div>
		
		<div class="container">
				<div class="footer">Copyright 2016  || <a href="http://www.cs.sfu.ca/CourseCentral/365/li/">Course Webpage</a></div>
		</div>