/*html, body{overflow:hidden;} */

html,body {
	margin:0;
	padding:0;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 10pt;
	text-align:center;
	height:80%;
	
}

h1 {
	font-size: 14pt;
	margin: 0%;
}

acronym {
	cursor: help;
}

pre {
	margin: 0%;
}
div.wrapper{
	margin:0;
	padding:0;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 10pt;
	text-align:center;
	height:100%;
	
}



div.upperleft {
	width: 520px;
	margin-left: auto;
	margin-right: auto;

	background-color: #AED7A8;
	background-image: url('upperleft.png');
	background-repeat: no-repeat;
	background-position: top left;
	text-align:left;
}

div.header {
	width: 520px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(Rubikcube.jpg);
	margin-bottom: 20px;
}

div.header h1 {
	font-size:24px;
	color:#FFFFFF;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align:right;
	padding-right:5px;
}

div.nav {
	/* padding-top:149px;
	padding-left:5px; */
	text-align:left;
}

.nav a, .nav a:hover, .nav a:visited {
	color:#FFF0E6;
	text-decoration:none;
	margin-right:10px;
	border-top:3px solid #333333;
}

.nav a:hover {
	border-top:3px solid #FFFFFF;
}

div.container {
	border-radius: 10px;
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
   	/* width:520px; */
	
	
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	text-align:center;
	/*min-height:100%; /* real browsers */
}

div.footer {
	
	text-align:center;
	width:480px;
	height:23px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	position:absolute;
	bottom:0; /* stick to bottom */
	background:#ddd;
	border-top:6px double gray;

}

div.footer p {
		padding:1em;
		margin:0;
	}